<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Behaviac.Design.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
		<Behaviac.Design.Properties.Settings>
   <setting name="MainWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="MainWindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainWindowSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="ShowNodeToolTips" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowControlsOnStartUp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckLatestVersion" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DumpConnectData" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowVersionInfo" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseBasicDisplayName" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowProfilingInfo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FindType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FindOptionMatchCase" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FindOptionMatchWholeWord" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FindRange" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FindOptionNodeId" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FindOptionNodeType" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdateRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Exporter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NoResultTreatAsError" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsDisplayLengthLimited" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LimitedDisplayLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="LimitLogCount" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxLogCount" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="ColorTheme" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OnlyShowFrequentlyUsedNodes" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FrequentlyUsedNodes" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>PluginBehaviac.Events.Effector</string>
      <string>PluginBehaviac.Events.Precondition</string>
      <string>PluginBehaviac.Nodes.Condition</string>
      <string>PluginBehaviac.Nodes.Action</string>
      <string>PluginBehaviac.Nodes.Compute</string>
      <string>PluginBehaviac.Nodes.Assignment</string>
      <string>PluginBehaviac.Nodes.Selector</string>
      <string>PluginBehaviac.Nodes.Sequence</string>
      <string>Behaviac.Design.Nodes.ReferencedBehavior</string>
      <string>PluginBehaviac.Nodes.Parallel</string>
      <string>PluginBehaviac.Nodes.DecoratorLoop</string>
      <string>PluginBehaviac.Nodes.DecoratorLoopUntil</string>
      <string>PluginBehaviac.Nodes.Task</string>
      <string>PluginBehaviac.Nodes.State</string>
      <string>PluginBehaviac.Events.TransitionCondition</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="FindDockLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="DefaultNamespace" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportMeta" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConcurrentProcessBehaviors" serializeAs="String">
    <value>False</value>
   </setting>
  </Behaviac.Design.Properties.Settings>
	</userSettings>
</configuration>
